<h1>Jimmy's Travels</h1>
<p>A partial record</p>
<h1>Places I've Been</h1>
<ul>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.name, place %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add a New Place', new_place_path %>


<h1>Where will I go next?</h1>
